* {
    padding: 0;
    margin: 0;
}
html,body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#wcan {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /* background: rgba(255, 255, 255, 0.85) */
}
.wcan-title {
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    color: #222;
    text-indent: 10px;
}